tbody, tr, td{
    border: 1px solid black;
    text-align: center;
}

thead > tr > td{
    text-align: center;
    text-decoration: underline;
    border-style: none;
}

/*Changes color of tableboxes when mouse hovers over*/
tbody>tr>td:hover{
    background: yellow;
}

/*Hides empty cells and borderspacing*/
table{
    empty-cells: hide;
    border-spacing: 1px;
}

/*Centers table center of screen*/
tbody>div{
    padding-left: 30px;
    padding-right: 30px;
}
