tbody, tr, td{
    border: 1px solid black;
    text-align: center;
}

thead > tr > td{
    text-align: center;
    text-decoration: underline;
    border-style: none;
}

tbody>tr>td:hover{
    background: yellow;
}

table{
    empty-cells: hide;
    border-spacing: 1px;
}

.color-green{
    background: green;
}

.color-orange{
    background: orange;
}
