/*Centers table in middle of screen*/
table{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-weight: 700;
}

/*Gives everybox an edge and aligns text center box*/
tbody, tr, td{
    text-align: center;
    height: 55px;
    width: 55px;
}

/*Title Peridic table gets centerd*/
thead > tr > td{
    text-align: center;
    font-family: sans-serif;
    font-weight:900;
    font-size: 40px;
    border-style: none;
}


/*Changes color of tableboxes when mouse hovers over*/
tbody>tr>td:hover{
    background: yellow;
    box-shadow: 0px 0px 7px black;
    text-decoration: underline;
}

/*Hides empty cells and borderspacing*/
table{
    empty-cells: hide;
    border-spacing:3px;
    border-radius: 4px;
}

td{
    border-radius: 2px;
}

/*Sets background for every element group*/
.alkali-metals{
    background: #ff4949;
}

.alkaline-earth-metals{
    background: #86ff44;
}

.other-nonmetals{
    background: #14f900;
}
.noble-gasses{
    background: #4491ff;
}

.halogens{
    background: #edb1c5;
}
.post-transition{
    background: #44ffd9;
}
.metaloids{
    background: #1c754b;
}
.transition-metals{
    background: #2e52ad;
}
.lanthanoids{
    background: #ff7200;
}
.actinoids{
    background: #ff00e9;
}

/*Adjusted margins and text sizes for all atomic numbers*/
#atomic-number{
    font-size: 11px;
    text-align: left;
    margin: 1px;
}

/*Adjusted margins and text sizes for all atomic names*/
#atomic-name{
    font-size: 9px;
    margin-top: 5%;
}

/*Centers the list in footer*/
footer{
    text-align: center;
}

/*Sets Properties for all text in list elements*/
ul>li{
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 900;
    font-family: Arial;
    color: #0645AD;
    clear: both;

}

/*When a List element is hovered over changes the color*/
li:hover{
    text-decoration: underline;
    color: orange;
}

/*All action link text is black to make it more friendly looking to user*/
a{
    color: black;
    text-decoration: none;
    outline: none;
}

p {
    color: black;
    text-decoration: none;
}

/*Changes all the elements in footer to look better*/
/*When hovered over - still allows them to be underlined*/
.footer-elements {
    text-decoration: none;
    outline: none;
}
